@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-checkblue: oklch(0.3547 0.1734 263.03);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .swiper {
    width: 100%;
  }


  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .heroswiper .swiper-button-next {
    right: 5% !important;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    opacity: 0.9;
  }

  .heroswiper .swiper-button-prev {
    left: 5% !important;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    opacity: 0.9;
  }

  @media (min-width: 768px) {
    .heroswiper .swiper-button-next {
      right: 25% !important;
    }

    .heroswiper .swiper-button-prev {
      left: 25% !important;
    }
  }

  .heroswiper .swiper-zoom-container > img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
    object-position: center !important;
  }

  .carouselswiper {
    padding: 1rem !important;
  }

  .carouselswiper .swiper-button-next {
    right: 1rem !important;
    top: 50% !important;
    transform: translateY(-50%);
    opacity: 0.9;
  }

  .carouselswiper .swiper-button-prev {
    left: 1rem !important;
    top: 50% !important;
    transform: translateY(-50%);
    opacity: 0.9;
  }
}
