@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-checkblue: oklch(0.3547 0.1734 263.03);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@layer components {
    .swiper {
        width: 100%;
        padding: 10px !important;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }

    

    .heroswiper .swiper-button-next {
        right: 25rem !important;
        color: #fff !important;
        opacity: 0.9;
    }

    .heroswiper .swiper-button-prev {
        left: 25rem !important;
        color: #fff !important;
        opacity: 0.9;
    }


    .carouselswiper .swiper-button-next {
        right: 1rem !important;
        top: 6rem !important;
        opacity: 0.9;
    }

    .carouselswiper .swiper-button-prev {
        left: 1rem !important;
        top: 6rem !important;
        opacity: 0.9;
    }
}